<div class="page-content">
  <div class="container bg-white page-height">
    <div class="row">
      <div class="col-sm-12 col-xs-12 nopadding">
        <div class="col-sm-12 col-xs-12 nopadding"><!-- wrap cover and profile photo of user -->
          <div class="col-sm-12 col-xs-12 nopadding"><!-- wrap cover of user -->
            <div class="profile-cover"></div>
            <div class="wrap-profile-photo">
              <img src="assets/users/seanghai.jpg" width="160" class="img-circle profile-photo">
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 nopadding">
          <div class="col-sm-12 col-xs-12 profile-name-address">
            <div class="profile-name">Seanghai Cheu</div>
            <div class="profile-address">At Phnom Penh</div>
          </div>

          <div class="col-sm-12 col-xs-12 nopadding">
            <hr/>

            <div class="col-sm-3 hidden-xs" style="border-right: 1px solid #ccc;">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a routerLink="/profile" routerLinkActive="active">About</a>
                </li>
                <li>
                  <a routerLink="/profile/follower" routerLinkActive="active">Follower <span class="pull-right badge">568</span></a>
                </li>
                <li>
                  <a routerLink="/profile/saved" routerLinkActive="active">Saved</a>
                </li>
                <li>
                  <a routerLink="/profile/contact" routerLinkActive="active">Contact</a>
                </li>
                <li>
                  <a routerLink="/profile/interest" routerLinkActive="active">Interest <span class="pull-right badge">11</span></a>
                </li>
              </ul>
            </div>

            <div class="col-xs-12 visible-xs">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a routerLink="/profile" routerLinkActive="active">About</a>
                </li>
                <li>
                  <a routerLink="/profile/follower" routerLinkActive="active">Follower <span class="pull-right badge">568</span></a>
                </li>
                <li>
                  <a routerLink="/profile/saved" routerLinkActive="active">Saved</a>
                </li>
                <li>
                  <a routerLink="/profile/contact" routerLinkActive="active">Contact</a>
                </li>
                <li>
                  <a routerLink="/profile/interest" routerLinkActive="active">Interest <span class="pull-right badge">11</span></a>
                </li>
              </ul>
              <hr/>
            </div>

            <div class="col-sm-9 col-xs-12">
              <h1>Seanghai Cheu</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
