.nav li a {
  padding: 5px 8px;
}

.nav-pills li a {
  font-size: 14px;
  border-radius: 2px;
  color: #666;
  font-weight: 500;
}

.nav-pills li a.active {
  color: #666;
  background-color: #e8e8e8;
}
